﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();

    TestObservationDataItem ObservationData = ViewBag.ObservationData;
}

@Scripts.Render("~/pages/js/TestObservationReportAdd")

<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="ObservationReportAddForm" name="ObservationReportAddForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="ObservationName" class="col-sm-3 control-label">@ViewBag.FormLabels["ObservationName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="ObservationName" name="ObservationName" value="@ObservationData.ObservationName" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label for="DepartmentId" class="col-sm-3 control-label">Parametre</label>
                    <div class="col-sm-4">
                        <select class="form-control required" id="ParameterId" name="ParameterId">
                        @foreach (ParameterItem parameterItem in ViewBag.ParameterItemsList)
                        {
                            <option value="@parameterItem.Id">@parameterItem.Parameter</option>
                        }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ProcessStartTime" class="col-sm-3 control-label">Başlangıç Saati</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="ProcessStartDate" name="ProcessStartDate" value="@ObservationData.StartDateTime" readonly  />
                    </div>
                </div>

                <input type="hidden" id="DataId" name="DataId" value="@ObservationData.Id" />
                
            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="ObservationReportAddFormSubmit" class="btn btn-flat btn-info" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                </div>             
            </div>
        </form>
    </div>
</div>
