﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}

@System.Web.Optimization.Scripts.Render("~/pages/js/CompaniesAdd")

<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="CompanyAddForm" name="CompanyAddForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="CompanyName" class="col-sm-3 control-label">@ViewBag.FormLabels["CompanyName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="CompanyName" name="CompanyName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="CompanyCategory" class="col-sm-3 control-label">@ViewBag.FormLabels["CompanyCategory"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="CompanyCategory" name="CompanyCategory" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="CompanyEmail" class="col-sm-3 control-label">@ViewBag.FormLabels["CompanyEmail"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="CompanyEmail" name="CompanyEmail" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="CompanyWorkerNumber" class="col-sm-3 control-label">@ViewBag.FormLabels["CompanyWorkerNumber"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="CompanyWorkerNumber" name="CompanyWorkerNumber" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="MagagerSelect" class="col-sm-3 control-label">Manager Seç</label>
                    <div class="col-sm-4">
                        <select  class="form-control"  id="Manager" name="Manager" >
                        @foreach (UserObject item in ViewBag.userList)
                        {
                            <option value="@item.UserName">@(item.UserFirstName + " " + item.UserLastName )</option>
                        }
                          
                        </select>
                    </div>
                </div>

            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="CompanyAddFormSubmit" class="btn btn-flat btn-info" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                </div>             
            </div>
        </form>
    </div>
</div>
