﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}

@System.Web.Optimization.Scripts.Render("~/pages/js/CompaniesEdit")

<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">        
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="CompanyEditForm" name="CompanyEditForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="CompanyId" class="col-sm-3 control-label">@ViewBag.FormLabels["CompanyId"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="CompanyId" name="CompanyId" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="CompanyName" class="col-sm-3 control-label">@ViewBag.FormLabels["CompanyName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="CompanyName" name="CompanyName" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="CompanyCategory" class="col-sm-3 control-label">@ViewBag.FormLabels["CompanyCategory"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="CompanyCategory" name="CompanyCategory" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="CompanyEmail" class="col-sm-3 control-label">@ViewBag.FormLabels["CompanyEmail"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="CompanyEmail" name="CompanyEmail" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="CompanyWorkerNumber" class="col-sm-3 control-label">@ViewBag.FormLabels["CompanyWorkerNumber"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="CompanyWorkerNumber" name="CompanyWorkerNumber" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="CompanyEditFormSubmit" class="btn btn-flat btn-info edit-form-btn" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                    <a href="/data/comp" id="CompanyEditFormCancel" class="btn btn-flat btn-warning edit-form-btn" data-loading-text="...">
                        @ViewBag.CancelBtn
                    </a>  
                </div> 
            </div>
            <input type="hidden" id="refcode" name="refcode" value="@ViewBag.Refcode" />
        </form>
    </div>
</div>