﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
    UserSessionData userInfoItem = (UserSessionData)HttpContext.Current.Session["UserSessionData"];
}

@Scripts.Render("~/pages/js/DepartmentsAdd")

<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="DepartmentAddForm" name="DepartmentAddForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="CompanyId" class="col-sm-3 control-label">@ViewBag.FormLabels["CompanyId"]</label>
                    <div class="col-sm-4">
                        <select class="form-control required" id="CompanyId" name="CompanyId">
                        @foreach (CompanyItem coMpany in ViewBag.CompaniesDict)
                        {
                            if (userInfoItem.Username.Equals(coMpany.Manager))
                            {
                                <option value="@coMpany.Id">@coMpany.Name</option>
                            }
                        }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="DepartmentName" class="col-sm-3 control-label">@ViewBag.FormLabels["DepartmentName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="DepartmentName" name="DepartmentName" />
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="DepartmentAddFormSubmit" class="btn btn-flat btn-info" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                </div>             
            </div>
        </form>
    </div>
</div>
