﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}

@Scripts.Render("~/pages/js/DepsettingsAdd")

<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="DepsettingAddForm" name="DepsettingAddForm">
            <div class="box-body">

                <div class="form-group">
                        <label for="MinObserNumber" class="col-sm-3 control-label">@ViewBag.FormLabels["MinObserNumber"]</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" id="MinObserNumber" name="MinObserNumber" value="500" />
                        </div>
                    </div>
                <div class="form-group">
                    <label for="DepartmentId" class="col-sm-3 control-label">@ViewBag.FormLabels["DepartmentId"]</label>
                    <div class="col-sm-4">
                        <select class="form-control required" id="DepartmentId" name="DepartmentId">
                        @foreach (String dePartmentKey in ViewBag.DepartmentsDict.Keys)
                        {
                            <option value="@dePartmentKey">@ViewBag.DepartmentsDict[dePartmentKey]</option>
                        }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="StartShiftTime" class="col-sm-3 control-label">@ViewBag.FormLabels["StartShiftTime"]</label>
                    <div class="col-sm-4">
      
                             <div id="datetimepicker1" class="input-append">

                              <input data-format="hh:mm:ss"  type="text" id="StartShiftTime" name="StartShiftTime"></input>
                               <span class="add-on">
                                <span class="glyphicon glyphicon-time"></span>
                              </span>
                             </div>
                       
                    </div>
                </div>
                 <div class="form-group">
                    <label for="EndShiftTime" class="col-sm-3 control-label">@ViewBag.FormLabels["EndShiftTime"]</label>
                    <div class="col-sm-4">
      
                             <div id="datetimepicker2" class="input-append">

                              <input data-format="hh:mm:ss"  type="text" id="EndShiftTime" name="EndShiftTime"></input>
                               <span class="add-on">
                                <span class="glyphicon glyphicon-time"></span>
                              </span>
                             </div>
                       
                    </div>
                </div>
                <div class="form-group">
                    <label for="StartBreakTime" class="col-sm-3 control-label">@ViewBag.FormLabels["StartBreakTime"]</label>
                    <div class="col-sm-4">
      
                             <div id="datetimepicker3" class="input-append">

                              <input data-format="hh:mm:ss"  type="text" id="StartBreakTime" name="StartBreakTime"></input>
                               <span class="add-on">
                                <span class="glyphicon glyphicon-time"></span>
                              </span>
                             </div>
                       
                    </div>
                </div>
                 
                <div class="form-group">
                    <label for="EndBreakTime" class="col-sm-3 control-label">@ViewBag.FormLabels["EndBreakTime"]</label>
                    <div class="col-sm-4">
      
                             <div id="datetimepicker4" class="input-append">

                              <input data-format="hh:mm:ss"  type="text" id="EndBreakTime" name="EndBreakTime"></input>
                               <span class="add-on">
                                <span class="glyphicon glyphicon-time"></span>
                              </span>
                             </div>
                       
                    </div>
                </div>
                
            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="DepsettingAddFormSubmit" class="btn btn-flat btn-info" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                </div>             
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            pickDate: false
        }),
        $('#datetimepicker2').datetimepicker({
            pickDate: false
        }),
        $('#datetimepicker3').datetimepicker({
            pickDate: false
        }),
        $('#datetimepicker4').datetimepicker({
            pickDate: false
        });
    });
</script>