﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}

@Scripts.Render("~/pages/js/DepsettingsEdit")



<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">        
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="DepsettingEditForm" name="DepsettingEditForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="DepsettingId" class="col-sm-3 control-label">@ViewBag.FormLabels["DepsettingId"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="DepsettingId" name="DepsettingId" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="DepartmentId" class="col-sm-3 control-label">@ViewBag.FormLabels["DepartmentId"]</label>
                    <div class="col-sm-4">
                        <select class="form-control required" id="DepartmentId" name="DepartmentId" disabled="disabled"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="MinObserNumber" class="col-sm-3 control-label">@ViewBag.FormLabels["MinObserNumber"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="MinObserNumber" name="MinObserNumber" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="StartShiftTime" class="col-sm-3 control-label">@ViewBag.FormLabels["StartShiftTime"]</label>
                    <div class="col-sm-4">
                         <div id="datetimepicker1" class="input-append">

                              <input data-format="hh:mm:ss"  type="text" id="StartShiftTime" name="StartShiftTime"></input>
                               <span class="add-on">
                                <span class="glyphicon glyphicon-time"></span>
                              </span>
                             </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="EndShiftTime" class="col-sm-3 control-label">@ViewBag.FormLabels["EndShiftTime"]</label>
                    <div class="col-sm-4">
                         <div id="datetimepicker2" class="input-append">

                              <input data-format="hh:mm:ss"  type="text" id="EndShiftTime" name="EndShiftTime"></input>
                               <span class="add-on">
                                <span class="glyphicon glyphicon-time"></span>
                              </span>
                             </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="StartBreakTime" class="col-sm-3 control-label">@ViewBag.FormLabels["StartBreakTime"]</label>
                    <div class="col-sm-4">
                      <div id="datetimepicker3" class="input-append">

                              <input data-format="hh:mm:ss"  type="text" id="StartBreakTime" name="StartBreakTime"></input>
                               <span class="add-on">
                                <span class="glyphicon glyphicon-time"></span>
                              </span>
                             </div>
                       
                    </div>
                </div>
                <div class="form-group">
                    <label for="EndBreakTime" class="col-sm-3 control-label">@ViewBag.FormLabels["EndBreakTime"]</label>
                    <div class="col-sm-4">
                        <div id="datetimepicker4" class="input-append">

                              <input data-format="hh:mm:ss"  type="text" id="EndBreakTime" name="EndBreakTime"></input>
                               <span class="add-on">
                                <span class="glyphicon glyphicon-time"></span>
                              </span>
                             </div>
                       
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="DepsettingEditFormSubmit" class="btn btn-flat btn-info edit-form-btn" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                    <a href="/data/depsetting" id="DepsettingEditFormCancel" class="btn btn-flat btn-warning edit-form-btn" data-loading-text="...">
                        @ViewBag.CancelBtn
                    </a>  
                </div> 
            </div>
            <input type="hidden" id="refcode" name="refcode" value="@ViewBag.Refcode" />
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            pickDate: false
        }),
        $('#datetimepicker2').datetimepicker({
            pickDate: false
        }),
        $('#datetimepicker3').datetimepicker({
            pickDate: false
        }),
        $('#datetimepicker4').datetimepicker({
            pickDate: false
        });
    });
</script>