﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}

@Styles.Render("~/plugins/css/datatables")
@Scripts.Render("~/plugins/js/datatables")

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <div class="table-add-new">
                    <a href="/data/depsetting/add" class="btn btn-sm btn-flat bg-olive"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;@ViewBag.AddNew</a>
                </div>
            </div>
            <div class="box-body">
                <table id="dtTable" class="table table-bordered table-hover" data-has-error="@ViewBag.HasError">
                    <thead>
                        <tr>
                        @foreach (String header in ViewBag.TableHeaders)
                        {
                            <th>@header</th>
                        }
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (DepsettingItem dataItem in ViewBag.TableData)
                    {
                        dataItem.GenerateSessionParam();

                        String editTip = ViewBag.EditTip;
                        String deleteTip = ViewBag.DeleteTip;
                        String deleteConfirmMsg = String.Format(ViewBag.DeleteConfirmMsg,dataItem.Id.ToString());
                        String deleteUrl = "/process/data/depsetting/delete/" + dataItem.SessionParam;

                        String dePartmentName = dataItem.GetDisplayData("DepartmentId", lang);


                        string input1 = dataItem.StartShiftTime;
                        string sstime = input1.Substring(0, 2) + ":" + input1.Substring(2, 2) + ":" + input1.Substring(4, 2);

                        string input2 = dataItem.EndShiftTime;
                        string estime = input2.Substring(0, 2) + ":" + input2.Substring(2, 2) + ":" + input2.Substring(4, 2);

                        string input3 = dataItem.StartBreakTime;
                        string sbtime = input3.Substring(0, 2) + ":" + input3.Substring(2, 2) + ":" + input3.Substring(4, 2);

                        string input4 = dataItem.EndBreakTime;
                        string ebtime = input4.Substring(0, 2) + ":" + input4.Substring(2, 2) + ":" + input4.Substring(4, 2);
                       
                       
                       
                      
                        <tr>
                            <td>@dataItem.Id</td>
                            <td>@sstime</td>
                            <td>@estime</td>
                            <td>@sbtime</td>
                            <td>@ebtime</td>
                            <td>@dePartmentName</td>
                            <td>
                                <a href="~/data/depsetting/edit/@dataItem.SessionParam" class="tooltipIcon" title="@editTip">
                                    <i class="fa fa-pencil-square-o"></i>&nbsp;
                                </a>    
                                <a href="javascript:void(0)" onclick="DoConfirmAndAction('@StringResources.encodeString(deleteTip)','@StringResources.encodeString(deleteConfirmMsg)','@StringResources.encodeString(deleteUrl)')" class="tooltipIcon" title="@deleteTip">
                                    <i class="fa fa-trash-o"></i>&nbsp;
                                </a>                                                             
                            </td>
                        </tr>             
                    }    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#dtTable').DataTable({
            "language": {
                "url": JsAppRoot + "Common/plugins/datatables/lang/" + JsAppLang + ".json"
            }
        });
        $('.tooltipIcon').tooltip();
        var hasError = $('#dtTable').attr("data-has-error");
        if (hasError == '1') {
            showInfoModal('infoModal');
        }
    });
</script>


