﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}

@Scripts.Render("~/pages/js/ObservationEdit")

<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">        
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="ObservationEditForm" name="ObservationEditForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="ObservationId" class="col-sm-3 control-label">@ViewBag.FormLabels["ObservationId"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="ObservationId" name="ObservationId" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="DepartmentId" class="col-sm-3 control-label">@ViewBag.FormLabels["DepartmentId"]</label>
                    <div class="col-sm-4">
                        <select class="form-control required" id="DepartmentId" name="DepartmentId" disabled="disabled"></select>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="ObclassId" class="col-sm-3 control-label">@ViewBag.FormLabels["ObclassId"]</label>
                    <div class="col-sm-4">
                        <select class="form-control required" id="ObclassId" name="ObclassId" disabled="disabled"></select>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="WorkerId" class="col-sm-3 control-label">@ViewBag.FormLabels["WorkerId"]</label>
                    <div class="col-sm-4">
                        <select class="form-control required" id="WorkerId" name="WorkerId" disabled="disabled"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ObservationName" class="col-sm-3 control-label">@ViewBag.FormLabels["ObservationName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="ObservationName" name="ObservationName" disabled="disabled" />
                    </div>
                </div>
       
            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="ObservationEditFormSubmit" class="btn btn-flat btn-info edit-form-btn" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                    <a href="/data/observation" id="ObservationEditFormCancel" class="btn btn-flat btn-warning edit-form-btn" data-loading-text="...">
                        @ViewBag.CancelBtn
                    </a>  
                </div> 
            </div>
            <input type="hidden" id="refcode" name="refcode" value="@ViewBag.Refcode" />
        </form>
    </div>
</div>