﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}

@Scripts.Render("~/pages/js/OperatorsEdit")


<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">        
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="OperatorEditForm" name="OperatorEditForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="OperatorId" class="col-sm-3 control-label">@ViewBag.FormLabels["OperatorId"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="OperatorId" name="OperatorId" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="OperatorName" class="col-sm-3 control-label">@ViewBag.FormLabels["OperatorName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="OperatorName" name="OperatorName" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="OperatorPwd" class="col-sm-3 control-label">@ViewBag.FormLabels["OperatorPwd"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="OperatorPwd" name="OperatorPwd" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="OperatorEmail" class="col-sm-3 control-label">@ViewBag.FormLabels["OperatorEmail"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="OperatorEmail" name="OperatorEmail"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="OperatorUsername" class="col-sm-3 control-label">@ViewBag.FormLabels["OperatorUsername"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="OperatorUsername" name="OperatorUsername"/>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="OperatorEditFormSubmit" class="btn btn-flat btn-info edit-form-btn" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                    <a href="/data/ope" id="OperatorEditFormCancel" class="btn btn-flat btn-warning edit-form-btn" data-loading-text="...">
                        @ViewBag.CancelBtn
                    </a>  
                </div> 
            </div>
            <input type="hidden" id="refcode" name="refcode" value="@ViewBag.Refcode" />
        </form>
    </div>
</div>

