﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}

@Scripts.Render("~/pages/js/OperatorsAdd")


<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="OperatorAddForm" name="OperatorAddForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="OperatorName" class="col-sm-3 control-label">@ViewBag.FormLabels["OperatorName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="OperatorName" name="OperatorName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="OperatorPwd" class="col-sm-3 control-label">@ViewBag.FormLabels["OperatorPwd"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="OperatorPwd" name="OperatorPwd" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="OperatorEmail" class="col-sm-3 control-label">@ViewBag.FormLabels["OperatorEmail"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="OperatorEmail" name="OperatorEmail" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="OperatorUsername" class="col-sm-3 control-label">@ViewBag.FormLabels["OperatorUsername"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="OperatorUsername" name="OperatorUsername" />
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="OperatorAddFormSubmit" class="btn btn-flat btn-info" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                </div>             
            </div>
        </form>
    </div>
</div>
