﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}

@Scripts.Render("~/pages/js/WorkersEdit")

<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">        
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="WorkerEditForm" name="WorkerEditForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="WorkerId" class="col-sm-3 control-label">@ViewBag.FormLabels["WorkerId"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="WorkerId" name="WorkerId" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="DepartmentId" class="col-sm-3 control-label">@ViewBag.FormLabels["DepartmentId"]</label>
                    <div class="col-sm-4">
                        <select class="form-control required" id="DepartmentId" name="DepartmentId" disabled="disabled"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="WorkerName" class="col-sm-3 control-label">@ViewBag.FormLabels["WorkerName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="WorkerName" name="WorkerName" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="WorkerSurname" class="col-sm-3 control-label">@ViewBag.FormLabels["WorkerSurname"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="WorkerSurname" name="WorkerSurname" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="WorkerTc" class="col-sm-3 control-label">@ViewBag.FormLabels["WorkerTc"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="WorkerTc" name="WorkerTc" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="WorkerEditFormSubmit" class="btn btn-flat btn-info edit-form-btn" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                    <a href="/data/worker" id="WorkerEditFormCancel" class="btn btn-flat btn-warning edit-form-btn" data-loading-text="...">
                        @ViewBag.CancelBtn
                    </a>  
                </div> 
            </div>
            <input type="hidden" id="refcode" name="refcode" value="@ViewBag.Refcode" />
        </form>
    </div>
</div>