﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}

@Scripts.Render("~/pages/js/WorkersAdd")

<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="WorkerAddForm" name="WorkerAddForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="DepartmentId" class="col-sm-3 control-label">@ViewBag.FormLabels["DepartmentId"]</label>
                    <div class="col-sm-4">
                        <select class="form-control required" id="DepartmentId" name="DepartmentId">
                        @foreach (String dePartmentKey in ViewBag.DepartmentsDict.Keys)
                        {
                            <option value="@dePartmentKey">@ViewBag.DepartmentsDict[dePartmentKey]</option>
                        }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="WorkerName" class="col-sm-3 control-label">@ViewBag.FormLabels["WorkerName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="WorkerName" name="WorkerName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="WorkerSurname" class="col-sm-3 control-label">@ViewBag.FormLabels["WorkerSurname"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="WorkerSurname" name="WorkerSurname" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="WorkerTc" class="col-sm-3 control-label">@ViewBag.FormLabels["WorkerTc"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="WorkerTc" name="WorkerTc" />
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="WorkerAddFormSubmit" class="btn btn-flat btn-info" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                </div>             
            </div>
        </form>
    </div>
</div>
