﻿@using _2DMap.Utility;
@using _2DMap.Models;
@{
    PageDefinitonData pData = PageDefinitonData.GetBreadCrumbSessionData(Session);
    List<PageBreadCrumbItem> pBcItems = pData.GetBreadCrumbItems();
}

<h1>
    @pData.PageHeader
    <small>@pData.PageHeaderInfo</small>
</h1>
<ol class="breadcrumb">
@foreach (PageBreadCrumbItem pItem in pBcItems)
{
    if (pData.isFirstBreadCrumbItem(pItem))
    {
    <li>
        <a href="@pItem.BcLink">
            <i class="fa fa-dashboard"></i>@Html.Raw("&nbsp;")@pItem.BcText
        </a>
    </li>                        
    }
    else if (pData.isLastBreadCrumbItem(pItem))
    {
        <li class="active">@pItem.BcText</li>
    }
    else
    {
    <li>
        <a href="@pItem.BcLink">
            @pItem.BcText
        </a>
    </li>           
    }
}
</ol>

    
    
