﻿@using _2DMap.Utility;
@using _2DMap.Models;
@{
    String lang = CommonConfiguration.SiteLanguage();
    String txtTopMenuLogo = CommonConfiguration.TopMenuLogo(1);
    String txtTopMenuLogoShort = CommonConfiguration.TopMenuLogo(2);
    String lblChangePwd = StringResources.getString(StringResources.RES_LABEL, "TOP_MENU_CHANGE_PWD", lang);
    String lblLogout = StringResources.getString(StringResources.RES_LABEL, "TOP_MENU_LOGOUT", lang);
    UserSessionData userInfo = Session["UserSessionData"] != null ? (UserSessionData)Session["UserSessionData"] : new UserSessionData();
   
}

    <header class="main-header">

        <a href="/home" class="logo">
            <span class="logo-mini">@Html.Raw(txtTopMenuLogoShort)</span>
            <span class="logo-lg">@Html.Raw(txtTopMenuLogo)</span>
        </a>


        <nav class="navbar navbar-static-top" role="navigation">
            <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">&nbsp;</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li class="dropdown user user-menu">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="@userInfo.ProfileImage" class="user-image" alt="User Image" />
                            <span class="hidden-xs">@userInfo.Name @userInfo.MidName @userInfo.Surname</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="@userInfo.ProfileImage" class="img-circle" alt="User Image" />
                                <p>
                                    @userInfo.Name @userInfo.MidName @userInfo.Surname
                                    <small>@userInfo.Email</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="javascript:void(0)"  onclick="showChangePassword()" class="btn btn-default btn-flat">@lblChangePwd</a>
                                </div>
                                <div class="pull-right">
                                    <a href="javascript:void(0)" onclick="confirmLogout()" class="btn btn-default btn-flat">@lblLogout</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>