﻿@using _2DMap.Utility;
@using _2DMap.Models;
@{
    String lang = CommonConfiguration.SiteLanguage();
    UserSessionData userInfo = Session["UserSessionData"] != null ? (UserSessionData)Session["UserSessionData"] : new UserSessionData();

    SideBarMenuData menu = SideBarMenuData.GenerateMenu();
    
}

  
    <aside class="main-sidebar">
        <section class="sidebar">

            <div class="user-panel">
                <div class="pull-left image">
                    <img src="@userInfo.ProfileImage" class="img-circle" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p>@userInfo.Name @userInfo.MidName @userInfo.Surname</p>
                    <a href="javascript:void(0)"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="header">@menu.MenuHeader</li>
    @foreach (SideBarMenuNode menuNode in menu.MenuNodes)
    {
                <li class="treeview">
                    <a href="javascript:void(0)">
                        <i class="@menuNode.IconClass"></i> <span>@menuNode.ItemDisp</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>

        @if (menuNode.NodeItems.Count > 0)
        {
                    <ul class="treeview-menu">

                @foreach (SideBarMenuItem item in menuNode.NodeItems)
                {
                    if (item.IsLeaf)
                    {
                        <li><a href="@item.Item.Href"><i class="@item.Item.IconClass"></i> @item.Item.ItemDisp</a></li>
                    }
                    else
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="@item.IconClass"></i> <span>@item.ItemDisp</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                                            
                            <ul class="treeview-menu">
                        @foreach (SideBarMenuItem item2 in item.LeafItems)
                        {
                            if (item2.IsLeaf)
                            {
                                    <li><a href="@item2.Item.Href"><i class="@item2.Item.IconClass"></i> @item2.Item.ItemDisp</a></li>
                            }
                            else
                            {
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="@item2.IconClass"></i> <span>@item2.ItemDisp</span> <i class="fa fa-angle-left pull-right"></i>
                                        </a>
                                                       
                                        <ul class="treeview-menu">
                                @foreach (SideBarMenuItem item3 in item2.LeafItems)
                                {
                                    if (item3.IsLeaf)
                                    {
                                            <li><a href="@item3.Item.Href"><i class="@item3.Item.IconClass"></i> @item3.Item.ItemDisp</a></li>
                                    }
                                    else
                                    {
                                            <li class="treeview">
                                                <a href="#">
                                                    <i class="@item3.IconClass"></i> <span>@item3.ItemDisp</span> <i class="fa fa-angle-left pull-right"></i>
                                                </a>
                                                                
                                                <ul class="treeview-menu">
                                        @foreach (SideBarMenuItem item4 in item3.LeafItems)
                                        {
                                                    <li><a href="@item4.Item.Href"><i class="@item4.Item.IconClass"></i> @item4.Item.ItemDisp</a></li>
                                        }
                                                </ul>
                                            </li>
                                    }
                                }
                                    </ul>
                                 </li>
                            }
                        }
                            </ul>
                        </li>
                    }
                }

                    </ul>
        }                

                </li>
    }

            </ul>

        </section>
    </aside>


      
 