﻿@using System.Web.Optimization;
@using _2DMap.Utility;
@{
    String lang = CommonConfiguration.SiteLanguage();
    String AppRootUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>

    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Styles.Render("~/plugins/css/iCheck")

    <script>
        var JsAppRoot = '@AppRootUrl';
        var JsAppLang = '@lang';        
    </script>

</head>
<body class="login-page">
     @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
     @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
     @System.Web.Optimization.Scripts.Render("~/plugins/js/iCheck")
     @System.Web.Optimization.Scripts.Render("~/bundles/tools")

    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>İŞ ÖRNEKLEMESİ</b> Editor</a>
        </div>
        <div class="login-box-body">
            @RenderBody()
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="infoModal">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () { $.ajaxSetup({ cache: false }); })
    </script>
</body>
</html>
