﻿@using System.Web.Optimization;
@{    
    Layout = "~/Views/_LoginLayoutPage.cshtml";
}

@System.Web.Optimization.Scripts.Render("~/pages/js/LoginPage")

<p class="login-box-msg">@ViewBag.PageLabels["LOGIN_PAGE_BOX_MSG"]</p>
<form action="javascript:void(0)" method="post" id="loginForm">
    <div class="form-group has-feedback">
        <input type="text" id="2deditor_login_username" name="2deditor_login_username" class="required form-control" placeholder="@ViewBag.PageLabels["LBL_USER_NAME"]" value="@ViewBag.PageLabels["R_USER_NAME"]" />
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input type="password" id="2deditor_login_password" name="2deditor_login_password" class="required form-control" placeholder="@ViewBag.PageLabels["LBL_PWD"]" />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="checkbox icheck">
                <label>
                    <input type="checkbox" id="2deditor_rememberlogin" name="2deditor_rememberlogin" @(ViewBag.PageLabels["R_CHECKED"].Equals("1") ? "checked" : "") > @ViewBag.PageLabels["LBL_REMEMBER_ME"]
                </label>
            </div>
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" data-loading-text="..." id="loginSubmitBtn">@ViewBag.PageLabels["LBL_BTN_LOGIN"]</button>
        </div>
    </div>

    <a href="/pwdre">@ViewBag.PageLabels["LBL_FORGOT_PWD"]</a><br>
</form>
