﻿@using System.Web.Optimization;
@{    
    Layout = "~/Views/_LoginLayoutPage.cshtml";
}

@System.Web.Optimization.Scripts.Render("~/pages/js/RememberPwdPage")

<form action="javascript:void(0)" method="post" id="changePwdForm">
    <div class="form-group has-feedback">
        <input type="text" id="2deditor_remember_email" name="2deditor_remember_email" class="required email form-control" placeholder="@ViewBag.PageLabels["LBL_USER_EMAIL"]" />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <a href="/login">@ViewBag.PageLabels["LBL_REDIRECT_LOGIN"]</a>
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" data-loading-text="..." id="pwdResendSubmitBtn">@ViewBag.PageLabels["LBL_BTN_SEND"]</button>
        </div>
    </div>
</form>
