﻿
@using System.Web.Optimization;
@{    
    Layout = "~/Views/_LoginLayoutPage.cshtml";
}

@System.Web.Optimization.Scripts.Render("~/pages/js/UserMustChangePwdPage")

<p class="login-box-msg">@Html.Raw(ViewBag.PageLabels["MUST_CHANGE_PWD_PAGE_BOX_MSG"])</p>
<form action="javascript:void(0)" method="post" id="changePwdForm">
    <div class="form-group has-feedback">             
        <input type="password" id="oldpwd" name="oldpwd" class="required form-control" placeholder="@ViewBag.PageLabels["LBL_OLDPWD"]" />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>         
    </div>
    <div class="form-group has-feedback">                
        <input type="password" id="pwd" name="pwd" class="required form-control" placeholder="@ViewBag.PageLabels["LBL_PWD"]" />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>    
     </div>
     <div class="form-group has-feedback">  
        <div>          
            <input type="password" id="pwdre" name="pwdre" class="form-control" placeholder="@ViewBag.PageLabels["LBL_PWD_RE"]" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
     </div> 
    <div class="row">        
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" data-loading-text="..." id="pwdChangeSubmitBtn">@ViewBag.PageLabels["LBL_BTN_SEND"]</button>
        </div>
    </div>    
</form>

