﻿@model _2DMap.Models.ModalContent
@{
    Layout = null;
}

<div class="modal-header">
    <h4 class="modal-title">@Html.Raw(@Model.ModalTitle)</h4>
    <div class="modal-title-loading"></div>
</div>
<div class="modal-body">
    @if (Model.ModalIcon != null && Model.ModalIcon.Equals("S"))
    {
    <div style="display:table-cell;vertical-align:top;"><div class="modal-success-icon"><span class="glyphicon glyphicon-ok"></span></div></div>  
    }
    else if (Model.ModalIcon != null && Model.ModalIcon.Equals("F"))
    {
    <div style="display:table-cell;vertical-align:top;"><div class="modal-failed-icon"><span class="glyphicon glyphicon-remove"></span></div></div>          
    }    
    <div style="display:table-cell;vertical-align:middle;">@Html.Raw(Model.Body)</div>
</div>
<div class="modal-footer">
    <div class="modal-footer-inf"></div>
    <div style="float:right;display:table;">
    @if (Model.isBtn1 && !Model.Btn1Href.Equals(""))
    {
    <button type="button" id="ModalBtn1" name="ModalBtn1" class="btn btn-flat @Model.Btn1Class" data-loading-text="@Model.Btn1Loading" onclick="@Model.Btn1Href">@Model.Btn1Text</button>
    }
    else if (Model.isBtn1 && Model.Btn1Href.Equals(""))
    {
    <button type="button" id="ModalBtn1" name="ModalBtn1" class="btn btn-flat @Model.Btn1Class" data-dismiss="modal" onclick="javascript:void(0)">@Model.Btn1Text</button>    
    }
        
    @if (Model.isBtn2 && !Model.Btn2Href.Equals(""))
    {
    <button type="button" id="ModalBtn2" name="ModalBtn2" class="btn btn-flat @Model.Btn2Class" data-loading-text="@Model.Btn2Loading" onclick="@Model.Btn2Href">@Model.Btn2Text</button>
    }
    else if (Model.isBtn2 && Model.Btn2Href.Equals(""))
    {
    <button type="button" id="ModalBtn2" name="ModalBtn2" class="btn btn-flat @Model.Btn2Class" data-dismiss="modal" onclick="javascript:void(0)">@Model.Btn2Text</button>    
    }
    </div>
</div>