﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}

@System.Web.Optimization.Scripts.Render("~/pages/js/UserEdit")

<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">        
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="UserEditForm" name="UserEditForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="Username" class="col-sm-3 control-label">@ViewBag.FormLabels["Username"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="Username" name="Username" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="FirstName" class="col-sm-3 control-label">@ViewBag.FormLabels["FirstName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="FirstName" name="FirstName" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="MidName" class="col-sm-3 control-label">@ViewBag.FormLabels["MidName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="MidName" name="MidName" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="LastName" class="col-sm-3 control-label">@ViewBag.FormLabels["LastName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="LastName" name="LastName" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="UserEmail" class="col-sm-3 control-label">@ViewBag.FormLabels["Email"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required email" id="UserEmail" name="UserEmail" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="UserEditFormSubmit" class="btn btn-flat btn-info edit-form-btn" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                    <a href="/usr/list" id="UserEditFormCancel" class="btn btn-flat btn-warning edit-form-btn" data-loading-text="...">
                        @ViewBag.CancelBtn
                    </a>  
                </div>             
            </div>
            <input type="hidden" id="refcode" name="refcode" value="@ViewBag.Refcode" />
        </form>
    </div>
<//div>