﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}

@System.Web.Optimization.Scripts.Render("~/pages/js/UserAdd")

<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="UserAddForm" name="UserAddForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="Username" class="col-sm-3 control-label">@ViewBag.FormLabels["Username"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="Username" name="Username" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="FirstName" class="col-sm-3 control-label">@ViewBag.FormLabels["FirstName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="FirstName" name="FirstName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="MidName" class="col-sm-3 control-label">@ViewBag.FormLabels["MidName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="MidName" name="MidName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="LastName" class="col-sm-3 control-label">@ViewBag.FormLabels["LastName"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="LastName" name="LastName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="UserEmail" class="col-sm-3 control-label">@ViewBag.FormLabels["Email"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required email" id="UserEmail" name="UserEmail" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Password" class="col-sm-3 control-label">@ViewBag.FormLabels["Password"]</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control required" id="Password" name="Password" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="PasswordRe" class="col-sm-3 control-label">@ViewBag.FormLabels["PasswordRe"]</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="PasswordRe" name="PasswordRe" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="PasswordRe" class="col-sm-3 control-label">Kullanıcı Rolü</label>
                    <div class="col-sm-4">
                        <select  class="form-control"  id="Role" name="Role" >
                          <option value="A">Admin</option>
                          <option value="M">Manager</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="UserAddFormSubmit" class="btn btn-flat btn-info" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                </div>             
            </div>
        </form>
    </div>
<//div>
