﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}
@System.Web.Optimization.Styles.Render("~/plugins/css/datatables")
@System.Web.Optimization.Scripts.Render("~/plugins/js/datatables")

<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <div class="table-add-new">
                    <a href="/usr/add" class="btn btn-sm btn-flat bg-olive"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;@ViewBag.AddNew</a>
                </div>
            </div>
            <div class="box-body">
                <table id="dtTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                        @foreach (String header in ViewBag.TableHeaders)
                        {
                            <th>@header</th>
                        }
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (UserObject UserObj in ViewBag.userList)
                    {
                        UserObj.GenerateSessionParam();

                        String fullName = UserObj.UserFirstName + " " + UserObj.UserMidName;
                        String deleteTip = ViewBag.DeleteTip;
                        String editTip = ViewBag.EditTip;
                        String blockTip = ViewBag.BlockTip;
                        String unblockTip = ViewBag.UnBlockTip;
                        String renewPwdTip = ViewBag.RenewPwdTip;

                        String deleteConfirmMsg = String.Format(ViewBag.DeleteMsg, UserObj.UserName, UserObj.UserFirstName + " " + UserObj.UserMidName + " " + UserObj.UserLastName);
                        String blockConfirmMsg = String.Format(ViewBag.BlockMsg, UserObj.UserName, UserObj.UserFirstName + " " + UserObj.UserMidName + " " + UserObj.UserLastName);
                        String unblockConfirmMsg = String.Format(ViewBag.UnblocMsg, UserObj.UserName, UserObj.UserFirstName + " " + UserObj.UserMidName + " " + UserObj.UserLastName);
                        String renewPwdConfirmMsg = String.Format(ViewBag.RenewPwdMsg, UserObj.UserName, UserObj.UserFirstName + " " + UserObj.UserMidName + " " + UserObj.UserLastName);

                        String deleteUrl = "/process/usr/delete/" + UserObj.SessionParam;
                        String blockUrl = "/process/usr/block/" + UserObj.SessionParam;
                        String unblockUrl = "/process/usr/unblock/" + UserObj.SessionParam;
                        String renewPwdUrl = "/process/usr/renewpwd/" + UserObj.SessionParam;

                        String userStatus = UserSessionData.GetUserStatusDisp(UserObj.UserStatus.ToString());
                        
                         <tr>
                            <td>@UserObj.UserName</td>
                            <td>@fullName.Trim()</td>
                            <td>@UserObj.UserLastName</td>
                            <td>@UserObj.UserEMail</td>
                            <td>@userStatus</td>
                            <td> 
                                <a href="~/usr/edit/@UserObj.SessionParam" class="tooltipIcon" title="@editTip">
                                    <i class="fa fa-pencil-square-o"></i>&nbsp;
                                </a>  

                            @if (!UserObj.isLoggedInUser() && (UserObj.UserStatus.ToString().Equals(UserSessionData.USER_STATUS_ACTIVE) || UserObj.UserStatus.ToString().Equals(UserSessionData.USER_STATUS_PWD_BLOCKED)))
                            {
                                <a href="javascript:void(0)" onclick="DoConfirmAndAction('@StringResources.encodeString(renewPwdTip)','@StringResources.encodeString(renewPwdConfirmMsg)','@StringResources.encodeString(renewPwdUrl)')" class="tooltipIcon" title="@renewPwdTip">
                                    <i class="fa fa-lock"></i>&nbsp;
                                </a>                                  
                            }
                            
                            @if (!UserObj.isLoggedInUser() && UserObj.UserStatus.ToString().Equals(UserSessionData.USER_STATUS_BLOCKED))
                            {
                                <a href="javascript:void(0)" onclick="DoConfirmAndAction('@StringResources.encodeString(unblockTip)','@StringResources.encodeString(unblockConfirmMsg)','@StringResources.encodeString(unblockUrl)')" class="tooltipIcon" title="@unblockTip">
                                    <i class="fa fa-unlock"></i>&nbsp;
                                </a>                                
                            }

                            @if (!UserObj.isLoggedInUser() && UserObj.UserStatus.ToString().Equals(UserSessionData.USER_STATUS_ACTIVE))
                            {
                                <a href="javascript:void(0)" onclick="DoConfirmAndAction('@StringResources.encodeString(blockTip)','@StringResources.encodeString(blockConfirmMsg)','@StringResources.encodeString(blockUrl)')" class="tooltipIcon" title="@blockTip">
                                    <i class="fa fa-ban"></i>&nbsp;
                                </a>                                      
                            }
                            
                            @if (!UserObj.isLoggedInUser())
                            {
                                <a href="javascript:void(0)" onclick="DoConfirmAndAction('@StringResources.encodeString(deleteTip)','@StringResources.encodeString(deleteConfirmMsg)','@StringResources.encodeString(deleteUrl)')" class="tooltipIcon" title="@deleteTip">
                                    <i class="fa fa-trash-o"></i>&nbsp;
                                </a>                                
                            }
                            
                            </td>
                        </tr>    
                    }
                       
                    </tbody>   
                </table>                             
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#dtTable').DataTable({
            "language": {
                "url": JsAppRoot + "Common/plugins/datatables/lang/" + JsAppLang + ".json"
            }
        });
        $('.tooltipIcon').tooltip()
    });
</script>