﻿@using System.Web.Optimization;
@using _2DMap.Models;
@using _2DMap.Utility;
@{
    Layout = "~/Views/_HomeLayoutPage.cshtml";
    String lang = _2DMap.Utility.CommonConfiguration.SiteLanguage();
}

@Scripts.Render("~/pages/js/ParameterAdd")

<div class="row">
    <div class="col-md-12">                                                                                                                                                                                                                                        <div class="box box-info">
        <div class="box-header">
            <div class="form-title-loading"><p class="text-muted">@ViewBag.LoadingMsg</p></div>
        </div>
        <form class="form-horizontal" id="ParameterAddForm" name="ParameterAddForm">
            <div class="box-body">
                <div class="form-group">
                    <label for="ObservationName" class="col-sm-3 control-label">@ViewBag.FormLabels["Parameter"]</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="Parameter" name="Parameter" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="DepartmentId" class="col-sm-3 control-label">@ViewBag.FormLabels["Departmant"]</label>
                    <div class="col-sm-4">
                        <select class="form-control required" id="DeptId" name="DeptId">
                        @foreach (String dePartmentKey in ViewBag.DepartmentsDict.Keys)
                        {
                            <option value="@dePartmentKey">@ViewBag.DepartmentsDict[dePartmentKey]</option>
                        }
                        </select>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-4">
                    <button type="submit" id="ParameterAddFormSubmit" class="btn btn-flat btn-info" data-loading-text="...">
                        @ViewBag.SubmitBtn
                    </button>   
                </div>             
            </div>
        </form>
    </div>
</div>
